@page "/live"
@using System.Net.WebSockets
@using Microsoft.AspNetCore.SignalR.Client;
@using Microsoft.EntityFrameworkCore;
@using OrderFlow.Data.Tables
@using OrderFlow.Util
@using System.Text
@using System
@using OrderFlow.Data
@inject NavigationManager navigation
@inject DatabaseDbContext ctx
@inject IHttpClientFactory httpClientBuilder
@implements IDisposable

<style>
    .livemonitor {
        font-size: xx-large;
        padding-block: 2rem;
        background-color: gray;
        text-align: center;
    }
</style>

<h2 class="livemonitor">Livemonitor</h2>

<p class="websocket">Connection Status: @socket.State</p>

@*<button @onclick="RefreshOrders">Get</button>*@

<br />

<table>
    <thead></thead>
    <tbody>
        @foreach (var i in fakeOrders)
        {
            <tr>
                <td>@i.TableCode - @i.Made</td>
            </tr>
        }
    </tbody>
</table>

@code {
    ClientWebSocket socket = new ClientWebSocket();
    CancellationTokenSource cancelToken = new CancellationTokenSource();
    List<Consumable> orders = new();
    List<FakeOrder> fakeOrders = new();
    HttpClient httpClient = null!;
    //HubConnection hubConnection = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // Initialize vars
        //httpClient = httpClientBuilder.CreateClient();
        //hubConnection = new HubConnectionBuilder()
        //    .WithUrl(navigation.ToAbsoluteUri("api/live/ws"))
        //    .Build();

        // End init

        //hubConnection.On("ReceiveMessage", async () =>
        //{
        //    orders = await GetOrders();
        //});

        //await hubConnection.StartAsync();
        var thatShit = async () =>
        {
            await InvokeAsync(StateHasChanged);
        };
        OrderFlow.Backend.LiveMonitor.FakeNotifier += new OrderFlow.Backend.LiveMonitor.FakeOrderAsyncEventHandler(new Func<object, FakeOrder, Task>(async (o, e) =>
        {
            fakeOrders.Add(e);
            await thatShit();
        }));

        //string wsEndpoint = "ws" + navigation.BaseUri.TrimStart("https");

        //await socket.ConnectAsync(new Uri($"{wsEndpoint}api/live/ws"), cancelToken.Token);
    }

    public async Task OrderListener(ClientWebSocket ws)
    {
        ArraySegment<Byte> buffer = new ArraySegment<byte>(new Byte[1]);

        while (true)
        {
            await ws.ReceiveAsync(buffer, CancellationToken.None);

            orders = await GetOrders();
        }
    }

    public async Task<List<FakeOrder>> InitialFakeOrders()
    {
        //new FakeOrder();
        return new();
    }

    public async Task<List<FakeOrder>> GetFakeOrders()
    {
        return new();
    }

    public async Task<List<Consumable>> GetOrders()
    {
        using (ctx)
        {
            return await ctx.Consumables.Select(c => c).ToListAsync();
        }
        //var result = await httpClient.GetAsync(navigation.BaseUri + "api/orders");
        //var orders = await result.Content.ReadFromJsonAsync<List<Consumable>>();

        //return orders;
    }

    // Button event
    public async Task RefreshOrders()
    {
        //orders = await GetOrders();
        //await hubConnection.InvokeAsync("SendMessage");
        await OrderFlow.Backend.LiveMonitor.Notify();
    }

    public void Dispose()
    {
        cancelToken.Dispose();
        //_ = socket.CloseAsync(WebSocketCloseStatus.NormalClosure, "Bye", CancellationToken.None);
    }
}
